*{
    font-family: sans-serif;
}
header div img {
    max-width: 10%;
    height: auto;
    position: relative;

}

nav ul li {
    display: inline;
    border: 2px solid black;
    padding:5px;
    margin: 5px;
}